ul.app--message--list  
        li
            h3 Conversation with 
                a= `${dm[0].rName}`
            ul.app--message--conversation
                each val, index in dm
                    if `${val.message_create.sender_id}` == `${userID}`
                        li.app--message--me
                            .app--avatar
                                img(src= twitterURL)
                            p.app--message--text= `${val.message_create.message_data.text}`
                            p.app--message--timestamp= Date.now() - `${val.created_timestamp}`
                    else
                        li.app--message
                            .app--avatar
                                img(src= dm[0].rProfile_image_url)
                            p.app--message--text= `${val.message_create.message_data.text}`
                            p.app--message--timestamp= Date.now() - `${val.created_timestamp}`